{
    "singleQuote": false,
    "semi": true,
    "bracketSpacing": true,
    "bracketSameLine": true,
    "arrowParens": "avoid",
    "htmlWhitespaceSensitivity": "css",
    "trailingComma": "es5",
    "tabWidth": 4
}
